#results h3 {
  font-family: 'ShieldSans Bold', arial, sans-serif;
  font-weight: normal;
  margin: 0.5ex 0;
  text-transform: uppercase;
}
/* BRACKET */
#bracket {
  box-sizing: border-box;
  clear: both;
  line-height: 1.15;
  font-size: 90%;
  font-size: 1.6vw;
  margin: 0 3vw;
  padding-top: 4.3ex;
  padding-top: 6.6vh;
  text-align: left;
  width: 94%;
  width: 94vw;
}
#bracket .round,
#bracket .matchup,
#bracket .team,
#bracket .score,
#bracket small {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
#bracket .round {
  float: left;
  line-height: 1.6;
  margin-right: 1%;
  width: 24%;
}
#bracket .matchup {
  height: 12ex;
  text-transform: uppercase;
  width: 100%;
}
#bracket .matchup > div {
  font-family: 'ShieldSans SemiBold Condensed', sans-serif;
  font-weight: normal;
  height: 2.1em;
  margin-top: 0.5ex;
  overflow: hidden;
  word-spacing: -0.1ex;
}
#bracket .team,
#bracket .score,
#bracket .shots {
  box-sizing: border-box;
  color: #FFF;
  display: inline-block;
  height: 2.1em;
  vertical-align: middle;
}
#bracket .score,
#bracket .shots {
  padding: 1ex;
  text-align: center;
}
#bracket .team {
  background: #234;
  overflow: hidden;
  padding: 1ex 1.5ex;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 66%;
  word-spacing: normal;
}
#bracket .team sup {
  color: #d5ae65;
  display: inline-block;
  font: bold 70% 'helvetica neue', arial, sans-serif;
  margin: 0 0.4ex 0 0.2ex;
  top: -0.3ex;
}
#bracket .score {
  background: #282828;
  margin-left: 1%;
  width: 21%;
}
#bracket .score.tie,
#bracket .score.top {
  background: #373737;
}
#bracket .score.top {
  color: #E2C081;
}
#bracket small {
  color: #EEE;
  display: block;
  font-size: 85%;
  line-height: 1.4;
  margin-left: 1ex;
}
#bracket .r1 {
  margin-right: 2%;
  width: 25%;
}
#bracket .r1 .team {
  border-left: none;
  padding: 1ex 1.5ex 1ex 0.5ex;
}
#bracket .r1 .matchup {
  margin-top: 2ex;
}
#bracket .r1 .matchup:nth-child(3) {
  margin-top: 6ex;
}
#bracket .r2 {
  margin-right: 0;
}
#bracket .r2 .matchup {
  margin-top: 20ex;
}
#bracket .r2 .matchup:first-child {
  margin-top: 9ex;
}
#bracket .r3 {
  margin-left: -15%;
  margin-right: 3%;
  width: 36%;
}
#bracket .r3 .matchup {
  margin-top: 25.1ex;
}
#bracket .r3 .team {
  width: 45.5%;
}
#bracket .r3 .score {
  margin-left: 0.9%;
  width: 14.5%;
}
#bracket .r4 .matchup {
  margin-top: 27.4ex;
}
#bracket .r4 .matchup > div {
  box-shadow: 0 0 10ex -0.1ex rgba(255, 255, 255, 0.5);
}
#bracket .r4 .team {
  background: #E2C081;
  background: linear-gradient(165deg, #E2C081 40%, #D3AC64 55%);
  color: #000;
  width: 100%;
}
#bracket .r4 small {
  color: #FFF;
}
@media (min-width: 1320px) {
  #bracket {
    font-size: 107%;
  }
}
@media (min-width: 1560px) {
  #bracket {
    font-size: 120%;
  }
}
@media (min-width: 1860px) {
  #bracket {
    font-size: 140%;
  }
}
/* LEADERS */
.leaders {
  font-size: 2.25vw;
  text-align: center;
  width: 100%;
}
.leaders table {
  border-collapse: separate;
  border-spacing: 2px;
  color: #FFF;
  empty-cells: show;
  margin: 1em auto;
  max-width: 800px;
  width: 100%;
}
.leaders tr {
  height: 1em;
}
.leaders tr.qual + tr:not(.qual) > td:not(.blank) {
  border-top: 0.3ex solid #D3AC64;
  border-top: 0.2vw solid #D3AC64;
}
.leaders th,
.leaders td {
  padding: 1ex;
  text-align: center;
  text-transform: uppercase;
}
.leaders th.blank,
.leaders td.blank {
  padding: 0;
}
.leaders th.shots,
.leaders td.shots {
  display: none;
}
.leaders th {
  font-family: 'ShieldSans Bold', arial, sans-serif;
  vertical-align: bottom;
  white-space: nowrap;
}
.leaders th.rank,
.leaders th.score,
.leaders th.shots {
  font-size: 85%;
}
.leaders th.rank,
.leaders th.shots {
  width: 9%;
}
.leaders th.score {
  width: 12%;
}
.leaders th.total {
  width: 14%;
}
.leaders td.rank,
.leaders td.score {
  background: #222;
  font-weight: bold;
}
.leaders td.shots {
  background: #333;
}
.leaders td.name,
.leaders td.total {
  background: #234;
  font-weight: bold;
}
.leaders td.name {
  max-width: 17em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.leaders td.name small {
  display: none;
}
.leaders tr.qual td.rank {
  background: #E2C081;
  background: linear-gradient(153deg, #E2C081 40%, #D3AC64 55%);
  color: #000;
}
.leaders tr.qual td.score {
  background: #333;
}
.leaders tr.qual td.shots {
  background: #444;
}
.leaders tr.qual td.name,
.leaders tr.qual td.total {
  background: #345;
}
@media (min-width: 637px) {
  .leaders {
    font-size: 14px;
  }
  .leaders tr.qual + tr:not(.qual) > td:not(.blank) {
    border-top: 2px solid #D3AC64;
  }
}
